@charset "utf-8";

/* ボックスが落ちるバグを修正 */
.wrap > article {
	margin: 0;
	float: right;
}

/* IE6 用の先行定義 */
/* IE6 では IE8 用の CSS を遅延ロードするため */
body > section > header {
	-pie-background: rgba(0, 0, 0, .45);
}

body > section > header p {
	color: white;
}
body > section > footer {
	-pie-background: rgba(0, 0, 0, .65);
}

/* メニュー */
.wrap > nav header p {
	color: white;
}

/* 記事 */
.wrap > article header p {
	color: white;
}