@(key: String, title: String, titleEn: String)(content: Html)
@import models._

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/html5reset.css")">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    <style> body { background-image: url("@routes.Assets.versioned("images/bg/" + Background.choice)") } </style>
    <title>水音氷音 (ぴね) プロフィール: @title</title>
  </head>

  <body>
    <section>

      <header>
        <a href="/">
          <h1 lang="en">Pine Profile</h1>
          <p>水音氷音 (ぴね) プロフィール</p>
        </a>
      </header>

      <div class="wrap">
        <nav>
          <header>
            <h2 lang="en">Menu</h2>
            <p>メニュー</p>
          </header>
          @menu(key)
        </nav>

        <article>
          <header>
            <h2 lang="en">@titleEn</h2>
            <p>@title</p>
          </header>
          @content
        </article>
      </div>

      <footer lang="en">
        <p><small><a href="http://www.yunphoto.net" target="_blank" rel="noopener">Photo by (c)Tomo.Yun</a></small></p>
        <p><small>Powered by Play Framework.</small></p>
        <p><small>This page is <a href="http://validator.w3.org/check?uri=referer" target="_blank" rel="noopener">valid HTML5</a>, and hosted on <a href="https://github.com/pine/profile-website" target="_blank" rel="noopener">GitHub</a>.</small></p>
        <p><small>Recommended Browsers: Firefox 3.5+, Google Chrome 7+, Opera 10.5+, Safari 5+</small></p>
        <p><small>Copyright &copy; 2011-2012, 2014-2018 <strong lang="ja">水音氷音 (ぴね)</strong>. All Rights Reserved.</small></p>
      </footer>

    </section>
  </body>
</html>
